body{
    font-family: 'Lobster', cursive;
    margin: 0%;
}
.dhaka{
    text-align: center;
    background-image: url(images/donation7.jpg);
    height: 100px;
    padding: 250px;
    color: white;
}
.rangpur{
    text-decoration:none;
    background-image: linear-gradient(yellow, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.containar{
    display: flex;
}
.khulna{
    width: 7%;
    margin: 5%;
    box-shadow: 10px 10px 50px gray;
    text-align: center;
    padding: 1%;
    border-radius: 10%;

}
.sylet{
    text-align: center;
    padding: 5%;
}
.flexibale{
    margin-right: 3%;
    padding: 3%;
    box-shadow: 10px 10px 40px gray;
}
.area{
    background-color: rgb(211, 186, 186);
    text-align: left;
}
.small{
    background-color: rgb(187, 235, 238);
    text-align: left;
}
.big{
    background-color: rgb(243, 243, 189);
    text-align: left;
}
